.outer{
    background-color: white;
    height: 100vh;
    width: 100vw;
}
.topNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: rgb(117, 188, 204);
}
.content{
    display: flex;
    height: 90vh;
    background-color:rgb(252, 236, 212);

}
.logout{
    margin-right: 7vh;
}
.leftNav{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 20vw;
    height: 90vh;

}
.display{
    height: 90vh;
    width:80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navHead{
    color: black;
    padding: 5vh;
    font-size:xx-large;
    font-weight: bolder;
}
.dashItems
{
    /* background-color: rgb(17, 14, 14); */
    background-color: rgb(20, 16, 16);

    color: white;
    padding:3vh;
    margin: 1vh;
}
.manage{
    display: flex;
    flex-direction: column;
    width: 1.2em;
}
.manageWorker{
    font-weight: 600;
    justify-content: flex-start;
    text-transform: none;
}