.title{
    font-size: 3em;
    font-weight: bolder;
    margin:5vh;
    margin-left: 4vw;
}
.nobooking{
    font-size: 2em;
    margin-left: 4vw;
}
table {
    width: 90%;
    /* margin-left: 0; */
    border-spacing: 0;
    border-radius: 1em;
    overflow: hidden;
    margin: 3vh;
  }
  
  thead {
   visibility: hidden;
   position: absolute;
   width: 0;
   height: 0;
  }
  
  .tablehead {
    background: rgb(248, 169, 22);
    color: #fff;
  }
  
  td:nth-child(1) {
    background: #215A8E;
    color: #fff;
    border-radius: 1em 1em 0 0;
  }
  
  th, td {
    padding: 1em;
  }
  
  tr, td {
    display: block;
  }
  .tablehead{
    font-size: 1.1em;
    font-weight: bolder;
  }
  .tablerows, .status {
    position: relative;
    font-size: 1.5em;
    font-weight: bolder;
  } 
  
  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 1em;
    font-weight: 600;
    font-size: .8em;
    text-transform: uppercase;
  }
  
  tr {
    margin-bottom: 1.5em;
    border: 1px solid #ddd;
    border-radius: 1em;
    text-align: right;
  }
  
  tr:last-of-type {
    margin-bottom: 0;
  }
  
  td:nth-child(n+2):nth-child(odd) {
    background-color: #ddd;
  }
  
  .status{
      color:rgb(47, 255, 75);
  }
  
  @media only screen and (min-width: 768px) {
    
    table {
      max-width: 1200px;
      margin: 0 auto;
      border: 1px solid #ddd;
    }
    
    thead {
      visibility: visible;
      position: relative;
    }
    
    th {
      text-align: left;
      text-transform: uppercase;
      font-size: .9em;
    }
    
    tr {
      display: table-row;
      border: none;
      border-radius: 0;
      text-align: left;
    }
    
    tr:nth-child(even) {
    background-color: #ddd;
  }
    
    td {
      display: table-cell;
    }
    
    td::before {
      content: none;
    }
    
    td:nth-child(1) {
      background: transparent;
      color: #444;
      border-radius: 0;
    }
    
    td:nth-child(n+2):nth-child(odd) {
      background-color: transparent;
    } 
  }