.outer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.options{
    color:white;
    display: flex;
    margin: auto;
    flex-direction: column;
}
.option{
    margin: 5vh;
    border-radius: 10px;
    height: 4em;
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.op1{
    background-color: red; 
}
.op2{
    background-color: blue;
}
.op3{
    background-color: green;
}